body { 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    line-height: 10px;
    width: 100%;
    height: 50%;
    background-color: blue;
    border-bottom: 10px solid tan;

}

ul{
    text-align: right;
    color: white;
    font-size: 1px
}

li {
    display: inline;
    list-style-type:none;
    font-size: 9px;
    color: white(250, 250, 250);
    padding: 10px;
}

.box-one {
    border: 10px solid black;
    width: 300px;
 
}

.box-two {
    border: 5px solid tan;
    margin: 0 auto;

}

.box-three {
    border: 10px solid black;
}

.box-four {
    border: 5px solid rgb(52, 72, 52);
}

.box-five {
    border: 10px solid black ;
}

.box-six {
    border: 5px solid tan;
}

.box-seven {
    background: black;
    height: 100px;
}

h4 {
    color: white;
    margin: 0 auto;
    padding: 30px;
}

ol{
    text-align: centert;
    color: rgb(18, 17, 17);
    font-size: 1px
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 10px;
    color: white;
    background-color: blue;

}